<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>音的高低</string>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>A</string>
				<key>content</key>
				<string>right_tip.png</string>
			</dict>
			<dict>
				<key>img</key>
				<string>B</string>
				<key>content</key>
				<string>CloseNormal.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>音的高低变化</string>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>A</string>
				<key>content</key>
				<string>right_tip.png</string>
			</dict>
			<dict>
				<key>img</key>
				<string>B</string>
				<key>content</key>
				<string>CloseNormal.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>音的强弱</string>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>A</string>
				<key>content</key>
				<string>right_tip.png</string>
			</dict>
			<dict>
				<key>img</key>
				<string>B</string>
				<key>content</key>
				<string>CloseNormal.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>音的长短</string>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>A</string>
				<key>content</key>
				<string>right_tip.png</string>
			</dict>
			<dict>
				<key>img</key>
				<string>B</string>
				<key>content</key>
				<string>CloseNormal.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>音乐情绪</string>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>A</string>
				<key>content</key>
				<string>right_tip.png</string>
			</dict>
			<dict>
				<key>img</key>
				<string>B</string>
				<key>content</key>
				<string>CloseNormal.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>单位拍敲击</string>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>A</string>
				<key>content</key>
				<string>right_tip.png</string>
			</dict>
			<dict>
				<key>img</key>
				<string>B</string>
				<key>content</key>
				<string>CloseNormal.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>节奏模仿</string>
		<key>content</key>
		<array>
			<dict>
				<key>img</key>
				<string>A</string>
				<key>content</key>
				<string>right_tip.png</string>
			</dict>
			<dict>
				<key>img</key>
				<string>B</string>
				<key>content</key>
				<string>CloseNormal.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
